# Do not actually include the datasets in the GIT archive.
# Those are produced by other means.

*.zip
*.tar
*.gz
*.json

# The data-catalog/views directory is in source control here:
# https://github.com/chip-rosenthal/pull-data-portal-catalog/tree/master/public
data-catalogs/views

