# Bits are excluded from the source repo because either:
# * They are generated periodically, but processes that run on the server.
# * They are part of another project, linked into the data portal.

###
# The LIVES data feed is generated nightly.
# Source for the generator is here:
# https://github.com/chip-rosenthal/atx-lives-feed

LIVES/lives.ci.austin.tx.us.zip

###
# The data-catalogs datasets are updated nightly.
# Source for the project is here:
# https://github.com/open-austin/pull-data-portal-catalog

data-catalogs/data
data-catalogs/views
data-catalogs/catalog-data_austintexas_gov-LATEST.json.gz
data-catalogs/summary-data_austintexas_gov-LATEST.json


