IndexOptions FancyIndexing
AddDescription "LIVES data feed of restaurant inspection scores" lives.ci.austin.tx.us.zip
HeaderName HEADER.html
ReadmeName FOOTER.html
IndexIgnore HEADER.html FOOTER.html
